@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;

500;600;700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icon;
  font-display: swap;
  src: url("../fonts/icon.woff2") format("woff2"), url("../fonts/icon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-Dot:before {
  content: "\e901";
}

._icon-fa:before {
  content: "\e903";
}

._icon-in:before {
  content: "\e904";
}

._icon-inst:before {
  content: "\e905";
}

._icon-mail:before {
  content: "\e906";
  color: #fff;
}

._icon-tw:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например container.
Снипет (HTML): cnt
*/

[class*=inner] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.mobile-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #3B5D50;
  overflow-x: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu .header-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 43px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile-menu .header-menu .menu .item {
  text-align: center;
}

.mobile-menu .header-menu .menu .item a {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFF;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}

.mobile-menu .header-menu .menu .item a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 5px;
  background: #F9BF29;
  border-radius: 0;
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.mobile-menu .header-menu .menu .item a:hover {
  opacity: 0.9;
}

.mobile-menu .header-menu .menu .item a:hover::before {
  width: 100%;
  border-radius: 2px;
}

.mobile-menu .header-menu .menu .item .active {
  opacity: 1;
}

.mobile-menu .header-menu .menu .item .active::before {
  width: 100%;
}

.mobile-menu-open {
  right: 0;
  opacity: 1;
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #EFF2F1;
  font-family: "", sans-serif;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 30px;
  background: #2F2F2F;
  color: #fff;
  border: 2px solid;
}

.btn:hover {
  background: none;
  border: 2px solid #2F2F2F;
  color: #2F2F2F;
}

.btn-yellow {
  color: #2F2F2F;
  background: #F9BF29;
  border: 2px solid rgba(255, 255, 255, 0);
}

.btn-yellow:hover {
  color: #fff;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.29);
}

.btn-border {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.29);
}

.btn-border:hover {
  color: #2F2F2F;
  background: #F9BF29;
  border: 2px solid rgba(255, 255, 255, 0);
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 38px;
  z-index: 6;
  color: #3b5d50;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
}

.loader__title span {
  color: #323232;
}

.loader__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 7;
  background: #3b5d50;
}

.loader__item-1 {
  border-right: 1px solid #fff;
}

.loader__item-2 {
  border-right: 1px solid #fff;
}

.header {
  background: #3B5D50;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.header .inner .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  min-height: 50px;
  padding: 35px 15px;
}

.header .inner .wrap .logo {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.header .inner .wrap .header-menu {
  padding: 2px 10px;
}

.header .inner .wrap .header-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.125rem 2.6875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .inner .wrap .header-menu .menu .item a {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}

.header .inner .wrap .header-menu .menu .item a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 5px;
  background: #F9BF29;
  border-radius: 0;
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.header .inner .wrap .header-menu .menu .item a:hover {
  opacity: 0.9;
}

.header .inner .wrap .header-menu .menu .item a:hover::before {
  width: 100%;
  border-radius: 2px;
}

.header .inner .wrap .header-menu .menu .item .active {
  opacity: 1;
}

.header .inner .wrap .header-menu .menu .item .active::before {
  width: 100%;
}

.icon-menu {
  display: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer {
  padding: 0 0 93px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-form .left {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-form .left .mail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .inner .wrap-form .left .mail-form .form-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-form .left .mail-form .form-content .form-input {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 16px 22px;
  min-width: 262px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

.footer .inner .wrap-form .left .mail-form .form-content .form-input:active,
.footer .inner .wrap-form .left .mail-form .form-content .form-input:hover,
.footer .inner .wrap-form .left .mail-form .form-content .form-input:focus {
  outline: 0;
}

.footer .inner .wrap-form .left .mail-form .form-button {
  position: relative;
  background: #35736E;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-form .left .mail-form .form-button::before {
  font-size: 28px;
}

.footer .inner .wrap-form .right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .inner .wrap-form .right img {
  margin-top: -20%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner h2.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 20px;
}

.footer .inner .wrap-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
  margin-bottom: 43px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-menu .left .left-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
  max-width: 360px;
  margin-right: 10px;
}

.footer .inner .wrap-menu .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}

.footer .inner .wrap-menu .right .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.footer .inner .wrap-menu .right .list .item .link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
  display: block;
  position: relative;
}

.footer .inner .wrap-menu .right .list .item .link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #6A6A6A;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .inner .wrap-menu .right .list .item .link:hover::before {
  width: 100%;
}

.footer .inner .social {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}

.footer .inner .social .item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41px;
  height: 41px;
  background: #D9D9D9;
  border-radius: 50%;
  border: 1px solid rgba(217, 217, 217, 0);
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.footer .inner .social .item .link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .inner .social .item .link:hover {
  background: none;
  border: 1px solid rgb(217, 217, 217);
}

.footer .inner .social .item .link:hover::before {
  color: #6A6A6A;
}

.footer .inner .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 42px;
  padding-top: 36px;
  border-top: 1px solid #EFF2F1;
}

.footer .inner .copyright .copyright-text,
.footer .inner .copyright .btn-box a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #6A6A6A;
}

.footer .inner .copyright .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 42px;
}

.section-studio {
  padding: 80px 0 160px;
  background: #3B5D50;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-studio .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
  grid-template-columns: 40% 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-studio .wrap .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6.25rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-studio .wrap .left h1.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: calc(3.5rem - 16px);
  line-height: 65px;
  color: #fff;
  margin-bottom: 17px;
  max-width: 420px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-studio .wrap .left .box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: -webkit-box-pack 0.4s ease;
  transition: -webkit-box-pack 0.4s ease;
  -o-transition: justify-content 0.4s ease;
  transition: justify-content 0.4s ease;
  transition: justify-content 0.4s ease, -webkit-box-pack 0.4s ease, -ms-flex-pack 0.4s ease;
}

.section-studio .wrap .right {
  position: relative;
  height: 100%;
}

.section-studio .wrap .right .studio-img {
  position: absolute;
  top: 0;
  left: 0;
}

.section-studio .wrap .right .studio-img img {
  max-width: 700px;
  max-height: 550px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-studio .wrap .right ._icon-Dot {
  z-index: 1;
}

.section-studio .wrap .right ._icon-Dot::before {
  font-size: 11rem;
  position: absolute;
  right: -13%;
  color: #D9D9D9;
  opacity: 0.3;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-material {
  padding: 150px 0;
}

.section-material .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 1fr;
  grid-template-columns: 22% 1fr;
  -webkit-column-gap: 114px;
     -moz-column-gap: 114px;
          column-gap: 114px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-material .wrap .left {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-material .wrap .left h2.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #2F2F2F;
  margin-bottom: 27px;
}

.section-material .wrap .left .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
  margin-bottom: 45px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-material .wrap .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-material .wrap .right .swiper .swiper-wrapper {
  width: 737px;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide:not(:last-child) {
  margin-right: 79px;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide .slide-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide .slide-img img {
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide p {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2F2F2F;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide .name-chair {
  font-weight: 600;
}

.section-material .wrap .right .swiper .swiper-wrapper .swiper-slide .price {
  font-weight: 700;
}

.section-choose {
  padding: 150px 0 50px;
}

.section-choose .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
  grid-template-columns: 40% 1fr;
  gap: 25px 123px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-choose .wrap .left h2.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #2F2F2F;
  margin-bottom: 27px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-choose .wrap .left .choose-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
  margin-bottom: 88px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-choose .wrap .left .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 42px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-choose .wrap .left .list::before {
  content: "";
  position: absolute;
  top: -84px;
  right: -111px;
  width: 296px;
  height: 307px;
  background: rgba(53, 115, 110, 0.1);
  border-radius: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.section-choose .wrap .left .list .item {
  max-width: 216px;
  position: relative;
  z-index: 2;
}

.section-choose .wrap .left .list .item .icon {
  position: relative;
  height: 33px;
  margin-bottom: 3px;
}

.section-choose .wrap .left .list .item .icon::after,
.section-choose .wrap .left .list .item .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-choose .wrap .left .list .item .icon::before {
  top: 3px;
  left: 11px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: rgba(53, 115, 110, 0.2);
}

.no-webp .section-choose .wrap .left .list .item .ic-1::after{
  background: url("../img/Truck.png") center no-repeat; }

.section-choose .wrap .left .list .item .ic-1::after {
  width: 36px;
  height: 32px;
}

.no-webp .section-choose .wrap .left .list .item .ic-2::after{
  background: url("../img/Shop bag.png") center no-repeat; }

.section-choose .wrap .left .list .item .ic-2::after {
  width: 36px;
  height: 36px;
}

.no-webp .section-choose .wrap .left .list .item .ic-3::after{
  background: url("../img/Support.png") center no-repeat; }

.section-choose .wrap .left .list .item .ic-3::after {
  width: 36px;
  height: 36px;
}

.no-webp .section-choose .wrap .left .list .item .ic-4::after{
  background: url("../img/Return.png") center no-repeat; }

.section-choose .wrap .left .list .item .ic-4::after {
  width: 36px;
  height: 36px;
}

.section-choose .wrap .left .list .item h3.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #2F2F2F;
  margin-bottom: 9px;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  position: relative;
  left: 0;
}

.section-choose .wrap .left .list .item:hover .icon::before {
  left: 22px;
}

.section-choose .wrap .left .list .item:hover h3.title {
  left: 22px;
}

.section-choose .wrap .left .list .item .item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6A6A6A;
  margin-bottom: 9px;
}

.section-choose .wrap .right {
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-choose .wrap .right ._icon-Dot {
  z-index: 1;
}

.section-choose .wrap .right ._icon-Dot::before {
  font-size: 11rem;
  position: absolute;
  left: -14%;
  top: -9%;
  color: #F9BF29;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-choose .wrap .right .img {
  position: relative;
  z-index: 2;
}

.section-choose .wrap .right .img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.section-interior {
  padding: 50px 0 100px;
}

.section-interior .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40%;
  grid-template-columns: 1fr 40%;
  height: 100%;
  gap: 25px 50px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-interior .wrap .left {
  position: relative;
}

.section-interior .wrap .left::before {
  font-size: 11rem;
  position: absolute;
  left: -11.5%;
  top: -13%;
  color: #35736E;
  opacity: 0.3;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-interior .wrap .left img {
  position: absolute;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
}

.section-interior .wrap .left .interior-1 {
  top: 0;
  left: 38px;
  z-index: 1;
}

.section-interior .wrap .left .interior-2 {
  top: 210px;
  right: 0;
  z-index: 2;
}

.section-interior .wrap .left .interior-3 {
  top: 0;
  right: 0;
  z-index: 3;
}

.section-interior .wrap .right .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #2F2F2F;
  margin-bottom: 28px;
  max-width: 380px;
}

.section-interior .wrap .right .interior-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
  margin-bottom: 31px;
  padding-right: 16px;
}

.section-interior .wrap .right .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 62px;
  margin-bottom: 38px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.section-interior .wrap .right .list .item {
  position: relative;
  padding-left: 21px;
}

.section-interior .wrap .right .list .item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 2px solid #3B5D50;
  border-radius: 50%;
}

.section-interior .wrap .right .list .item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A6A6A;
}

.section-read-more {
  padding: 73px 0 50px;
}

.section-read-more .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 49px;
}

.section-read-more .wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px 33px;
}

.section-read-more .wrap .item .img-container {
  max-width: 98px;
  width: 100%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-read-more .wrap .item .img-container::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  width: 98px;
  height: 98px;
  background: rgba(53, 115, 110, 0.3);
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-read-more .wrap .item .img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}

.section-read-more .wrap .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-read-more .wrap .item .content .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.section-read-more .wrap .item .content .content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6A6A6A;
  -o-text-overflow: clip;
     text-overflow: clip;
  overflow: hidden;
  max-height: 44px;
  padding-right: 15px;
}

.section-read-more .wrap .item .content .more {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #6A6A6A;
  cursor: pointer;
}

.section-commended {
  padding: 45px 0 20px;
}

.section-commended .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #2F2F2F;
  margin-bottom: 47px;
}

.section-commended .swiper-testimonials {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 160px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-commended .swiper-testimonials .swiper-wrapper {
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  z-index: 5;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide .testimonials {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  margin-bottom: 42px;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide .user-img {
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide .user-img img {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide .user-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}

.section-commended .swiper-testimonials .swiper-wrapper .swiper-slide .user-job {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  color: #2F2F2F;
  margin-bottom: 5px;
}

.section-commended .swiper-testimonials .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-commended .swiper-testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #D9D9D9;
  opacity: 1;
}

.section-commended .swiper-testimonials .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 13px;
}

.section-commended .swiper-testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: #385D50;
}

.section-commended .swiper-testimonials .swiper-button-prev,
.section-commended .swiper-testimonials .swiper-button-next {
  position: absolute;
  top: 20%;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.section-commended .swiper-testimonials .swiper-button-prev::after,
.section-commended .swiper-testimonials .swiper-button-next::after {
  content: "";
}

.section-commended .swiper-testimonials .swiper-button-prev::before,
.section-commended .swiper-testimonials .swiper-button-next::before {
  font-size: 17px;
  color: #000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-commended .swiper-testimonials .swiper-button-prev:hover,
.section-commended .swiper-testimonials .swiper-button-next:hover {
  background: #385D50;
}

.section-commended .swiper-testimonials .swiper-button-prev:hover::before,
.section-commended .swiper-testimonials .swiper-button-next:hover::before {
  color: #fff;
}

.section-commended .swiper-testimonials .swiper-button-prev {
  left: 0;
}

.section-commended .swiper-testimonials .swiper-button-next {
  right: 0;
}

.section-commended .swiper-testimonials .swiper-button-next::before {
  font-size: 17px;
  color: #000;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-recentBlog {
  padding: 40px 0 160px;
}

.section-recentBlog .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.section-recentBlog .blog .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #2F2F2F;
}

.section-recentBlog .blog .link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #2F2F2F;
  padding: 3px 5px;
  border-bottom: 3px solid #2F2F2F;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.section-recentBlog .blog .link:hover {
  background: #2F2F2F;
  color: #EFF2F1;
}

.section-recentBlog .blog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-recentBlog .blog-grid .item .blog-img {
  margin-bottom: 44px;
}

.section-recentBlog .blog-grid .item .blog-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-recentBlog .blog-grid .item .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2F2F2F;
}

.section-recentBlog .blog-grid .item .blog-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

.section-recentBlog .blog-grid .item .blog-text span {
  font-style: italic;
  font-weight: 400;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 1100px) {
  .section-material .wrap {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }

  .section-material .wrap {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}

@media (max-width: 678px) {
  .section-choose .wrap {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .section-choose .wrap .left h2.title {
    text-align: center;
  }

  .section-choose .wrap .left .choose-text {
    text-align: center;
  }

  .section-choose .wrap .left .list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-choose .wrap .right ._icon-Dot::before {
    font-size: 18.25rem;
  }

  .section-interior .wrap .left::before {
    font-size: 15.75rem;
    right: -2%;
    left: initial;
    top: -9%;
  }

  .section-interior .wrap .right .list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .footer {
    padding: 20px 0;
  }

  .footer .inner .wrap-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer .inner .wrap-form .left .mail-form .form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .inner .wrap-form .left .mail-form .form-button {
    width: 115px;
    height: 115px;
  }

  .footer .inner .wrap-form .right img {
    margin-top: 0;
  }

  .footer .inner .wrap-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }

  .footer .inner .wrap-menu .left .left-text {
    max-width: 90%;
    width: 100%;
  }

  .footer .inner .wrap-menu .right {
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .section-studio {
    padding: 30px 0;
  }

  .section-studio .wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-studio .wrap .left {
    row-gap: 0.9375rem;
  }

  .section-studio .wrap .left h1.title {
    max-width: 100%;
    text-align: center;
  }

  .section-studio .wrap .left .box-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-studio .wrap .right .studio-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-studio .wrap .right ._icon-Dot::before {
    right: 8%;
  }

  .section-material {
    padding: 25px 0;
  }

  .section-material .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }

  .section-material .wrap .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-material .wrap .left h2.title {
    text-align: center;
  }

  .section-material .wrap .left .text {
    text-align: center;
    padding: 0 50px;
  }

  .section-choose {
    padding: 25px 0 50px;
  }

  .section-choose .wrap {
    gap: 25px 60px;
  }

  .section-choose .wrap .left .list::before {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    right: inherit;
    top: 0;
    left: 0;
    width: 90%;
    height: 80%;
  }

  .section-choose .wrap .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-choose .wrap .right ._icon-Dot::before {
    top: 0;
    left: 0;
  }

  .section-choose .wrap .right .img img {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 520px;
  }

  .section-interior {
    padding: 50px 0 25px;
  }

  .section-interior .wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
  }

  .section-interior .wrap .left::before {
    left: -12%;
    top: -10%;
  }

  .section-interior .wrap .left .interior-1 {
    position: relative;
    left: 0;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .section-interior .wrap .left .interior-2 {
    opacity: 0;
    visibility: hidden;
  }

  .section-interior .wrap .left .interior-3 {
    opacity: 0;
    visibility: hidden;
  }

  .section-interior .wrap .right .list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .section-read-more {
    padding: 25px 0;
  }

  .section-read-more .wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .section-commended .swiper-testimonials {
    padding: 0 80px;
  }
}

@media (max-width: 47.99875em) {
  .header .inner .wrap .header-menu .menu {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer .inner .wrap-form {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    margin-bottom: 15px;
  }

  .footer .inner .wrap-form .right img {
    width: 80%;
  }

  .footer .inner .copyright {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .inner .copyright .copyright-text,
  .footer .inner .copyright .btn-box a {
    text-align: center;
  }

  .footer .inner .copyright .btn-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-studio .wrap .right ._icon-Dot::before {
    font-size: 9.125rem;
  }

  .section-choose .wrap {
    gap: 25px;
  }

  .section-choose .wrap .left .choose-text {
    margin-bottom: 40px;
  }

  .section-choose .wrap .left .list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .section-choose .wrap .left .list::before {
    opacity: 0;
    visibility: hidden;
  }

  .section-choose .wrap .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-choose .wrap .right ._icon-Dot::before {
    font-size: 9.125rem;
  }

  .section-interior .wrap .left::before {
    font-size: 9.125rem;
  }

  .section-commended .swiper-testimonials {
    padding: 0 20px;
  }

  .section-commended .swiper-testimonials .swiper-button-prev,
  .section-commended .swiper-testimonials .swiper-button-next {
    opacity: 0;
    visibility: hidden;
  }

  .section-recentBlog {
    padding: 40px 0;
  }

  .section-recentBlog .blog-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 42.24875em) {
  .section-choose .wrap .left .list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .section-interior .wrap {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .section-read-more .wrap {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 49px;
  }

  .section-read-more .wrap .item .img-container::before {
    top: 14px;
  }
}

@media (max-width: 29.99875em) {
  .footer .inner .wrap-form .left {
    width: 100%;
  }

  .footer .inner .wrap-form .left .mail-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .footer .inner .wrap-form .left .mail-form .form-content {
    width: 100%;
  }

  .footer .inner .wrap-form .left .mail-form .form-button {
    width: 100%;
    height: 50px;
  }

  .footer .inner .wrap-menu .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 15px;
  }

  .section-studio .wrap .right ._icon-Dot::before {
    font-size: 7.5rem;
  }

  .section-choose {
    padding: 25px 0 20px;
  }

  .section-choose .wrap .right ._icon-Dot::before {
    font-size: 0rem;
  }

  .section-interior {
    padding: 15px 0 20px;
  }

  .section-interior .wrap {
    gap: 30px;
  }

  .section-interior .wrap .left::before {
    font-size: 0rem;
  }

  .section-interior .wrap .right .list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .section-recentBlog .blog-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.webp .section-choose .wrap .left .list .item .ic-1::after{ background: url(../img/Truck.webp) center no-repeat; }

.webp .section-choose .wrap .left .list .item .ic-2::after{ background: url("../img/Shop bag.png") center no-repeat; }

.webp .section-choose .wrap .left .list .item .ic-3::after{ background: url(../img/Support.webp) center no-repeat; }

.webp .section-choose .wrap .left .list .item .ic-4::after{ background: url(../img/Return.webp) center no-repeat; }